.btn-add {
    background-color: rgb(59 7 100);
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.25rem;
    min-width: 14rem;
}

.btn-add:hover {
    background-color: rgb(88 28 135);
}

.btn-cancel {
    background-color: rgb(127 29 29);
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.25rem;
    min-width: 14rem;
}

.btn-cancel:hover {
    background-color: rgb(185 28 28);
}

.btn-select {
    background-color: #34796C;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.25rem;
    border-width: 1.5px;
    border-color: rgb(10, 10, 10);
    min-width: 14rem;
}

.btn-select:hover {
    background-color: #49ad9b;
    text-shadow: 2px 2px 4px rgb(10, 10, 10);
}

.btn-consulta {
    background-color: #67958D;
    color: white;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: 0.25rem;
    border-width: 1.5px;
    border-color: rgb(10, 10, 10);
}

.btn-consulta:hover {
    background-color: #9AB1AE;
    text-shadow: 2px 2px 4px rgb(10, 10, 10);
}

.btn-editar {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: 0.25rem;
    border-width: 1.5px;
    border-color: rgb(10, 10, 10);
}

.btn-editar:hover {
    background-color: rgb(141, 141, 255);
    text-shadow: 2px 2px 4px rgb(10, 10, 10);
}

.btn-delete {
    background-color: rgb(127 29 29);
    color: white;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: 0.25rem;
    border-color: rgb(10, 10, 10);
}

.btn-delete:hover {
    background-color: rgb(185 28 28);
    text-shadow: 2px 2px 4px rgb(10, 10, 10);
}
