<div class="container-fluid p-10">
    <div class="flex lg:flex-row lg:justify-between lg:items-center flex-col mb-5 gap-5">
        <div class="flex items-center bg-white p-2 border-2 border-black rounded w-fit">
            <h2 class="font-bold text-3xl uppercase">Mostrando tratamientos de {{persona.nombre }}</h2>
        </div>
        <button *ngIf="!showForm" (click)="toggleShowForm()" class="btn-add">AÑADIR TRATAMIENTO</button>
        <button *ngIf="showForm" (click)="toggleShowForm()" class="btn-cancel">CANCELAR</button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-4" *ngIf="!showForm && tratamientos.length > 0">
        <div *ngFor="let tratamiento of tratamientos"
            class="p-4 text-xl rounded-md border-black border-2 flex flex-col gap-2 bg-white">
            <p class="capitalize text-center">{{ tratamiento.medicamento.nombre }}</p>
            <img src="{{tratamiento.medicamento.fotos[0]}}" alt="{{tratamiento.medicamento.nregistro}}_img.jpg"
                class="w-full">
            <p>Tomas Diarias: {{ tratamiento.tomasDiarias }}</p>
            <p>Primera Toma: {{ tratamiento.primeratoma }}</p>
            <p *ngIf="tratamiento.notas">Notas: {{ tratamiento.notas }}</p>
            <button (click)="consultar(tratamiento.medicamento)" class="btn-consulta text-xl mt-auto">Consultar
                Prospecto</button>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <button (click)="toggleEdit(tratamiento)" class="btn-editar">Editar</button>
                <button (click)="openDialogDelete(tratamiento)" class="btn-delete">Eliminar</button>
            </div>
        </div>
    </div>
    <div *ngIf="tratamientos.length === 0 && !showForm">
        <h2 class="text-xl text-bold uppercase">No hay tratamientos registrados para el paciente actual</h2>
    </div>
    <form [formGroup]="parentForm" (ngSubmit)="onSubmit()" *ngIf="showForm" class="flex flex-col gap-10">
        <app-formmed [parentForm]="parentForm" (medSelected)="onMedSelected($event)"></app-formmed>
        <div class="flex flex-col md:flex-row gap-10">
            <div class="md:w-1/3 flex flex-col">
                <h3 class="text-2xl">Indique las tomas diarias</h3>
                <!--<input name="intervaloSeleccionado" type="number" [(ngModel)]="intervaloSeleccionado" class="border-1">-->
                <select formControlName="tomas" class="w-1/6 text-center">
                    <option [value]="1">1 Toma</option>
                    <option [value]="2">2 Tomas</option>
                    <option [value]="3">3 Tomas</option>
                    <option [value]="4">4 Tomas</option>
                </select>
            </div>
            <div class="md:w-1/3">
                <h3 class="text-2xl">Indique la hora de la primera toma</h3>
                <mat-form-field>
                    <input matInput
                           name="horaSeleccionada"
                           formControlName="hora"
                           [ngxMatTimepicker]="miTimepicker"
                           placeholder="16:00"
                           readonly />
                    <mat-icon matSuffix (click)="miTimepicker.open()">
                        watch_later
                    </mat-icon>
                </mat-form-field>
                <ngx-mat-timepicker #miTimepicker [format]="24"></ngx-mat-timepicker>
            </div>
            <div>
                <h3 class="text-2xl">Inserte las notas que crea necesarias</h3>
                <textarea matInput formControlName="notas" class="border border-black w-full"></textarea>
            </div>
        </div>
            <div class="flex flex-col items-end">
            <button class="btn-select mt-auto w-1/4 uppercase" type="submit">{{buttonText}}</button>
        </div>
    </form>
</div>