<div class="container-fluid p-10">
    <div class="flex lg:flex-row lg:justify-between lg:items-center flex-col mb-5 gap-5">
        <div class="flex items-center bg-white p-2 border-2 border-black rounded w-fit">
            <h2 class="font-bold text-3xl uppercase">Mostrando tratamientos de {{persona.nombre }}</h2>
        </div>
        <button *ngIf="!showForm" (click)="toggleShowForm()" class="btn-add">AÑADIR TRATAMIENTO</button>
        <button *ngIf="showForm" (click)="toggleShowForm()" class="btn-cancel">CANCELAR</button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-4" *ngIf="!showForm && tratamientos.length > 0">
        <div *ngFor="let tratamiento of tratamientos"
            class="p-4 text-xl rounded-md border-black border-2 flex flex-col gap-2 bg-white">
            <p class="capitalize text-center">{{ tratamiento.medicamento.nombre }}</p>
            <img src="{{tratamiento.medicamento.fotos[0]}}" alt="{{tratamiento.medicamento.nregistro}}_img.jpg"
                class="w-full">
            <p>Tomas Diarias: {{ tratamiento.tomasDiarias }}</p>
            <p>Primera Toma: {{ tratamiento.primeratoma }}</p>
            <button (click)="consultar(tratamiento.medicamento)" class="btn-consulta text-xl">Consultar
                Prospecto</button>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <button (click)="toggleEdit(tratamiento)" class="btn-editar">Editar</button>
                <button (click)="openDialogDelete(tratamiento)" class="btn-delete">Eliminar</button>
            </div>
        </div>
    </div>
    <div *ngIf="tratamientos.length === 0 && !showForm">
        <h2 class="text-xl text-bold uppercase">No hay tratamientos registrados para el paciente actual</h2>
    </div>
    <form [formGroup]="formReg" (ngSubmit)="onSubmit()" *ngIf="showForm" class="flex flex-col gap-10">
        <div>
            <h3 class="text-2xl">Selecciona el medicamento</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 p-5 items-center">
                <div class="flex flex-col gap-3 p-5 items-center">
                    <label for="nombreMed">Introduzca el nombre del medicamento</label>
                    <input type="text" name="nombreMed" (input)="onInputChange()" formControlName="nombre"
                        class="border border-black rounded p-1 w-2/3 lg:w-1/2">
                </div>
                <div class="flex flex-col gap-3 p-5 items-center">
                    <label for="labMed">Introduzca el laboratorio del medicamento</label>
                    <input type="text" name="labMed" (input)="onInputChange()" formControlName="laboratorio"
                        class="border border-black rounded p-1 w-2/3 lg:w-1/2">
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div *ngFor="let medicamento of medicamentos"
                    class="p-4 m-2 text-xl text-slate-200 rounded-md bg-gray-500 border-black border-2 flex flex-col gap-5">
                    <!--[ngClass]="{'p-4 m-2 text-xl text-slate-200 rounded-md bg-gray-500 border-black border-2 flex flex-col gap-5': true, 'bg-gray-400': medicamento === medSeleccionado}">-->
                    <p class="text-center">{{ medicamento.descripcion }}</p>
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
                        <img src="{{foto}}" alt="{{medicamento.nombre}}_img" *ngFor="let foto of medicamento.fotos"
                            class="w-full">
                    </div>
                    <p>Nombre: <span class="capitalize">{{ medicamento.nombre }}</span></p>
                    <p>Dosis: {{ medicamento.dosis }}</p>
                    <p>Laboratorio: {{ medicamento.labtitular }}</p>
                    <p>Forma Farmaceutica Simplificada: {{ medicamento.ffs }}</p>
                    <p>Administracion: <span *ngFor="let via of medicamento.administracion"> {{ via }} </span></p>
                    <p>Descripción: {{ medicamento.descripcion }}</p>
                    <button class="btn-select mt-auto" (click)="toggleSelectMed(medicamento)"
                        *ngIf="medicamento !== medSeleccionado">SELECCIONAR</button>
                    <button class="btn-cancel mt-auto" (click)="toggleDeselectMed()"
                        *ngIf="medicamento === medSeleccionado">CANCELAR SELECCION</button>
                </div>
            </div>
            <div
                *ngIf="medicamentos.length <= 0 && (formReg.get('nombre')?.value !== '' || formReg.get('laboratorio')?.value !== '')">
                <h2 class="text-lg text-red-500">No se han encontrado medicamentos que concuerden con los parametros
                    introducidos</h2>
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-10">
            <div class="md:w-1/2 flex flex-col">
                <h3 class="text-2xl">Indique las tomas diarias</h3>
                <!--<input name="intervaloSeleccionado" type="number" [(ngModel)]="intervaloSeleccionado" class="border-1">-->
                <select formControlName="tomas" class="w-1/6 text-center">
                    <option [value]="1">1 Toma</option>
                    <option [value]="2">2 Tomas</option>
                    <option [value]="3">3 Tomas</option>
                    <option [value]="4">4 Tomas</option>
                </select>
            </div>
            <div class="md:w-1/2">
                <h3 class="text-2xl">Indique la hora de la primera toma</h3>
                <input name="horaSeleccionada" type="time" formControlName="hora">
            </div>
        </div>
        <div class="flex flex-col items-end">
            <button class="btn-select mt-auto w-1/4 uppercase" type="submit">{{buttonText}}</button>
        </div>
    </form>
</div>