<div class="container-fluid p-10">
    <div class="flex lg:flex-row lg:justify-between lg:items-center flex-col items-end mb-5 gap-5">
        <h2 class="w-full lg:w-2/3 font-bold text-3xl uppercase lg:mb-0">
            Mostrando tratamientos de {{persona.nombre }}</h2>
            <button *ngIf="!showForm" (click)="toggleShowForm()" class="btn-add">AÑADIR TRATAMIENTO</button>
            <button *ngIf="showForm" (click)="toggleShowForm()" class="btn-cancel">CANCELAR</button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-4" *ngIf="!showForm && tratamientos.length > 0">
        <div *ngFor="let tratamiento of tratamientos"
            class="p-4 text-xl text-slate-200 rounded-md bg-purple-700 border-black border-2">
            <p class="capitalize text-center">{{ tratamiento.medicamento.nombre }}</p>
            <img src="{{tratamiento.medicamento.fotos[0]}}" alt="{{tratamiento.medicamento.nregistro}}_img.jpg"
                class="w-full">
            <p>Intervalo Diario: {{ tratamiento.intervalodiario }}</p>
            <p>Primera Toma: {{ tratamiento.primeratoma }}</p>
        </div>
    </div>
    <div class="flex flex-col gap-10" *ngIf="showForm">
        <div>
            <h3 class="text-2xl">Selecciona el medicamento</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 p-5 items-center">
                <div class="flex flex-col gap-3 p-5 items-center">
                    <label for="nombreMed">Introduzca el nombre del medicamento</label>
                    <input type="text" name="nombreMed" [(ngModel)]="nombreMed" (input)="onInputChange()"
                        class="border border-black rounded p-1 w-2/3 lg:w-1/2">
                </div>
                <div class="flex flex-col gap-3 p-5 items-center">
                    <label for="labMed">Introduzca el laboratorio del medicamento</label>
                    <input type="text" name="labMed" [(ngModel)]="labMed" (input)="onInputChange()"
                        class="border border-black rounded p-1 w-2/3 lg:w-1/2">
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div *ngFor="let medicamento of medicamentos"
                    class="p-4 m-2 text-xl text-slate-200 rounded-md bg-gray-500 border-black border-2 flex flex-col gap-5">
                    <!--[ngClass]="{'p-4 m-2 text-xl text-slate-200 rounded-md bg-gray-500 border-black border-2 flex flex-col gap-5': true, 'bg-gray-400': medicamento === medSeleccionado}">-->
                    <p class="text-center">{{ medicamento.descripcion }}</p>
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
                        <img src="{{foto}}" alt="{{medicamento.nombre}}_img" *ngFor="let foto of medicamento.fotos"
                            class="w-full">
                    </div>
                    <p>Nombre: <span class="capitalize">{{ medicamento.nombre }}</span></p>
                    <p>Dosis: {{ medicamento.dosis }}</p>
                    <p>Laboratorio: {{ medicamento.labtitular }}</p>
                    <p>Forma Farmaceutica Simplificada: {{ medicamento.ffs }}</p>
                    <p>Administracion: <span *ngFor="let via of medicamento.administracion"> {{ via }} </span></p>
                    <p>Descripción: {{ medicamento.descripcion }}</p>
                    <div *ngFor="let doc of medicamento.docs">
                        <p>url: {{ doc.url }}</p>
                        <p>urlHtml: {{ doc.urlHtml }}</p>
                    </div>
                    <button class="btn-select mt-auto" (click)="toggleSelectMed(medicamento)"
                        *ngIf="medicamento !== medSeleccionado">SELECCIONAR</button>
                    <button class="btn-cancel mt-auto" (click)="toggleDeselectMed()"
                        *ngIf="medicamento === medSeleccionado">CANCELAR SELECCION</button>
                </div>
            </div>
            <div *ngIf="medicamentos.length <= 0 && (nombreMed !== '' || labMed !== '')">
                <h2 class="text-lg text-red-500">No se han encontrado medicamentos que concuerden con los parametros
                    introducidos</h2>
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-10">
            <div class="md:w-1/2 flex flex-col">
                <h3 class="text-2xl">Indique la frecuencia entre tomas</h3>
                <label for="intervaloSeleccionado">Con que frecuencia toma la pastilla diariamente</label>
                <!--<input name="intervaloSeleccionado" type="number" [(ngModel)]="intervaloSeleccionado" class="border-1">-->
                <select [(ngModel)]="intervaloSeleccionado" class="w-1/6 text-center">
                    <option [value]="24">24</option>
                    <option [value]="12">12</option>
                    <option [value]="8">8</option>
                    <option [value]="6">6</option>
                </select>
            </div>
            <div class="md:w-1/2">
                <h3 class="text-2xl">Indique la hora de la primera toma</h3>
                <input name="horaSeleccionada" type="time" [(ngModel)]="horaSeleccionada">
            </div>
        </div>
        <div class="flex flex-col items-end">
            <button class="btn-select mt-auto w-1/4" (click)="addTratamiento()">AÑADIR TRATAMIENTO</button>
        </div>
    </div>
    <div *ngIf="tratamientos.length === 0 && !showForm">
        <h2 class="text-xl text-bold uppercase">No hay tratamientos registrados para el usuario actual</h2>
    </div>
</div>