@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: white !important;
}

.dialog-custom .mat-mdc-dialog-component-host h2,p {
    color: black;
}

.dialog-custom .mat-mdc-dialog-component-host .mdc-dialog__actions {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    gap: 10px;
}

.dialog-custom .mat-mdc-dialog-component-host .mdc-dialog__actions button {
    width: 100%;
    margin: 0;
}

@media (min-width: 768px) {
    .dialog-custom .mat-mdc-dialog-component-host .mdc-dialog__actions {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
  