<div [formGroup]="parentForm" class="flex flex-col gap-10">
    <h3 class="text-2xl">Selecciona el medicamento</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 p-5 items-center">
        <div class="flex flex-col gap-3 p-5 items-center">
            <label for="nombreMed">Introduzca el nombre del medicamento</label>
            <input type="text" name="nombreMed" (input)="onInputChange()" formControlName="nombre"
                class="border border-black rounded p-1 w-2/3 lg:w-1/2">
        </div>
        <div class="flex flex-col gap-3 p-5 items-center">
            <label for="labMed">Introduzca el laboratorio del medicamento</label>
            <input type="text" name="labMed" (input)="onInputChange()" formControlName="laboratorio"
                class="border border-black rounded p-1 w-2/3 lg:w-1/2">
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <div *ngFor="let medicamento of medicamentos"
            class="p-4 m-2 text-xl text-slate-200 rounded-md bg-gray-500 border-black border-2 flex flex-col gap-5">
            <p class="text-center">{{ medicamento.descripcion }}</p>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
                <img src="{{foto}}" alt="{{medicamento.nombre}}_img" *ngFor="let foto of medicamento.fotos"
                    class="w-full">
            </div>
            <p>Nombre: <span class="capitalize">{{ medicamento.nombre }}</span></p>
            <p>Dosis: {{ medicamento.dosis }}</p>
            <p>Laboratorio: {{ medicamento.labtitular }}</p>
            <p>Forma Farmaceutica Simplificada: {{ medicamento.ffs }}</p>
            <p>Administracion: <span *ngFor="let via of medicamento.administracion"> {{ via }} </span></p>
            <p>Descripción: {{ medicamento.descripcion }}</p>
            <button class="btn-select mt-auto" (click)="toggleSelectMed(medicamento)"
                *ngIf="medicamento !== medSeleccionado && !isProspectosRoute()">SELECCIONAR</button>
            <button class="btn-cancel mt-auto" (click)="toggleDeselectMed()"
                *ngIf="medicamento === medSeleccionado">CANCELAR SELECCION</button>
            <button class="btn-select mt-auto" (click)="consultar(medicamento.nregistro)"
                *ngIf="isProspectosRoute()">CONSULTAR PROSPECTO</button>
        </div>
    </div>
    <div
        *ngIf="medicamentos.length <= 0 && (parentForm.get('nombre')?.value !== '' || parentForm.get('laboratorio')?.value !== '')">
        <h2 class="text-lg text-red-500">No se han encontrado medicamentos que concuerden con los parametros
            introducidos</h2>
    </div>
</div>