#home-container {
  background-color: #cad4d3;
}

.btn {
  background-color: #6b7280;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  font-size: x-large;
}

.btn:hover {
  background-color: #808899;    
    text-shadow: 2px 2px 4px rgb(10, 10, 10);
}

.btn-select {
    background-color: #34796C;
    color: white;
    font-weight: bold;
    padding: 0.7rem;
    border-radius: 0.25rem;
    min-width: 14rem;
}

.btn-select:hover {
    background-color: #49ad9b;
    text-shadow: 2px 2px 4px rgb(10, 10, 10);
}