.btn-login {
  background-color: #0284c7;
  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.25rem;
  min-width: 14rem;
  border-color: rgb(10, 10, 10);
}

.btn-login:hover {
  background-color: #02a9ff;
  text-shadow: 2px 2px 4px rgb(10, 10, 10);
}

.btn-register {
  background-color: #34796c;
}
.btn-register:hover {
  background-color: #449f8e;
}

form div p {
  margin: 0;
  font-size: large;
}
