<nav>
  <div class="py-5 px-14 text-bg-dark border-b">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center justify-center lg:justify-start">
        <a href="/" class="flex gap-5 items-center my-2 lg:my-0 mr-auto text-white text-decoration-none">
          <img src="assets\img\farmagenda-logo.png" class="size-20 rounded-full ring-2 ring-black">
          <h2 class="text-2xl">FARMAGENDA</h2>
        </a>
        <ul class="flex flex-wrap items-center justify-center lg:justify-start text-base">
          <li>
            <a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }" class="text-white flex flex-col gap-1 items-center px-4 py-2">
              <ng-icon name="heroHome" class="text-4xl"></ng-icon>
              INICIO
            </a>
          </li>
          <li>
            <a routerLink="tratamientos" routerLinkActive="selected" class="text-white flex flex-col gap-1 items-center px-4 py-2">
              <ng-icon name="heroClipboardDocumentList" class="text-4xl"></ng-icon>
              TRATAMIENTOS
            </a>
          </li>
          <li>
            <a routerLink="prospectos" routerLinkActive="selected" class="text-white flex flex-col gap-1 items-center px-4 py-2 cursor-pointer">
              <ng-icon name="heroDocumentText" class="text-4xl"></ng-icon>
              PROSPECTOS
            </a>
          </li>
          <li>
            <a (click)="onClick()" class="text-white flex flex-col gap-1 items-center px-4 py-2 cursor-pointer">
              <ng-icon name="heroCalendarDays" class="text-4xl"></ng-icon>
              CALENDARIO
            </a>
          </li>
          <li>
            <a routerLink="perfil" routerLinkActive="selected" class="text-white flex flex-col gap-1 items-center px-4 py-2">
              <ng-icon name="heroUserCircleSolid" class="text-4xl"></ng-icon>
              MI PERFIL
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  </nav>
  